:root {
  --white-text: #ffffff;
  --black-text: #000000;
  --grey-text: #907e82;

  --secondary-title: #ffa5ba;
  --title-text: #d41443;

  --bg-color: #ffffff;
  --secondary-bg-color: #fff5f6;
  --third-bg-color: #ffb8ca;

  --accent-color: #d41443;
  --secondary-accent-color: #c7133e;
  --border-color: #e18298;

  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: 'DM Sans';
  color: var(--black-text);
  background-color: #ffffff;
}
