      <div class="footer__box container">
        <div class="footer__box-title">
          <p class="footer__title">HOMEMADE ICE CREAM MADE<span class="footer__title-decor">WITH PASSION</span></p>
        </div>

        <div class="footer__box-social">
          <ul class="social">
      <li class="social__item">
        <a href="https://github.com" target="_blank" class="social__link">
          <svg class="social__icon" width="18.82" height="18.82">
            <use href="./images/symbol-defs.svg#icon-VectorGitHub" ></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="https://t.me" target="_blank" class="social__link">
          <svg class="social__icon" width="19.2" height="14.93">
            <use href="./images/symbol-defs.svg#icon-telegram-1-2"></use>
          </svg>
        </a>
      </li>
      <li class="social__item" >
        <a href="https://uk-ua.facebook.com/" target="_blank" class="social__link">
          <svg class="social__icon" width="8.8" height="19.2">
            <use href="./images/symbol-defs.svg#icon-Facebook"></use>
          </svg>
        </a>
      </li>
      </ul>
    <a class="contact" href="tel:+610383766284"><span class="contact__text">Feel free to contact</span>+61 (0) 383 766 284</a>
        </div>
    </div>

    <div class="cellar">
        <p class="cellar__text">© 2022 - IceCream.  All Rights Reserved.</p>
    </div>
