<div class="container container__gallery">
<ul class="grid">
  <li class="grid__item">
    <img class="grid__icon" srcset="./images/gallery/galery-img1.jpg 1x, ./images/gallery/galery-img1@2x.jpg 2x"
          src="./images/gallery/galery-img1.jpg" alt="Ice cream green">
  </li>
  <li class="grid__item">
    <img class="grid__icon"  srcset="./images/gallery/galery-img2.jpg 1x, ./images/gallery/galery-img2@2x.jpg 2x"
          src="./images/gallery/galery-img2.jpg" alt="Ice cream in hand">
  </li>
  <li class="grid__item">
    <img class="grid__icon"  srcset="./images/gallery/galery-img3.jpg 1x, ./images/gallery/galery-img3@2x.jpg 2x"
          src="./images/gallery/galery-img3.jpg" alt="Ice cream plombir">
  </li>
  <li class="grid__item">
    <img class="grid__icon grid__icon-4" srcset="./images/gallery/galery-img4.jpg 1x, ./images/gallery/galery-img4@2x.jpg 2x"
          src="./images/gallery/galery-img4.jpg" alt="Ice cream cone ">
  </li>
  <li class="grid__item">
    <img class="grid__icon"  srcset="./images/gallery/galery-img5.jpg 1x, ./images/gallery/galery-img5@2x.jpg 2x"
          src="./images/gallery/galery-img5.jpg" alt="Girl with Ice cream">
  </li>
  <li class="grid__item">
    <img class="grid__icon"  srcset="./images/gallery/galery-img6.jpg 1x, ./images/gallery/galery-img6@2x.jpg 2x"
          src="./images/gallery/galery-img6.jpg" alt="Ice cream with hand">
  </li>
  <li class="grid__item">
    <img class="grid__icon"
          srcset="./images/gallery/galery-img7.jpg 1x, ./images/gallery/galery-img7@2x.jpg 2x"
          src="./images/gallery/galery-img7.jpg" alt="Red cone Ice cream">
  </li>
  <li class="grid__item">
    <img class="grid__icon"  srcset="./images/gallery/galery-img8.jpg 1x, ./images/gallery/galery-img8@2x.jpg 2x"
          src="./images/gallery/galery-img8.jpg" alt="Dog and Ice cream">
  </li>
  <li class="grid__item">
    <img class="grid__icon"  srcset="./images/gallery/galery-img9.jpg 1x, ./images/gallery/galery-img9@2x.jpg 2x"
          src="./images/gallery/galery-img9.jpg" alt="Chocolate cocktail">
  </li>
  <li class="grid__item">
    <img class="grid__icon"  srcset="./images/gallery/galery-img10.jpg 1x, ./images/gallery/galery-img10@2x.jpg 2x"
          src="./images/gallery/galery-img10.jpg" alt="Ice cream with cocktail">
  </li>
</ul>
</div>