<div class="menu-container js-menu-container menu" id="mobile-menu">
  <div class="menu-buttons__wrap">
    <button class="menu-toggle js-close-menu">
      <svg class="menu-close__button" width="14" height="14">
        <use href="./images/symbol-defs.svg#close"></use>
      </svg>
    </button>
    <button type="button" class="buy-now__button" data-mob-modal-open>
      Buy now
      <svg class="buy-now__button-svg" width="10" height="10">
        <use href="./images/symbol-defs.svg#vector"></use>
      </svg>
    </button>
  </div>
  <div class="menu-navigation__wrap">
    <ul class="mobile-menu">
      <li class="mobile-menu__list">
        <a class="link mobile-menu__link current-menu" href="#header">Home</a>
      </li>
      <li class="mobile-menu__list">
        <a class="link mobile-menu__link" href="#about">About us</a>
      </li>
      <li class="mobile-menu__list">
        <a class="link mobile-menu__link" href="#about">How it’s made?</a>
      </li>
      <li class="mobile-menu__list">
        <a class="link mobile-menu__link" href="#products">Our products</a>
      </li>
      <li class="mobile-menu__list">
        <a class="link mobile-menu__link" href="#contacts">Contact</a>
      </li>
    </ul>
  </div>
</div>
<script src="./js/menu-togle.js"></script>
<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
