<div class="container">
  <p class="products__text">100% natural</p>
  <h2 class="products__title">products</h2>
  <ul class="products__list">
    <li class="products__card products__card-icecream">
      <h3 class="products__name">ice cream</h3>
      <div class="products__item">
        <div class="products__box">
          <p class="products__text-primary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
          <input type="checkbox" id="read-more-icecream" hidden="">
          <p class="products__text-secondary">Ice cream is an ancient delicacy. There are suggestions that the history
            of ice cream has more than four thousand years.</p>
        </div>
        <label class="products__btn" for="read-more-icecream">
          <svg class="products__icons">
            <use></use>
          </svg>
        </label>
      </div>
    </li>
    <li class="products__card products__card-coffee">
      <h3 class="products__name">ice coffee</h3>
      <div class="products__item">
        <div class="products__box">
          <p class="products__text-primary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
          <input type="checkbox" id="read-more-coffee" hidden="">
          <p class="products__text-secondary">After all, you must admit that if it’s hot outside, then you want to drink
            something cool and tonic. Cold coffee is the
            perfect solution.</p>
        </div>
        <label class="products__btn" for="read-more-coffee">
          <svg class="products__icons">
            <use></use>
          </svg>
        </label>
      </div>
    </li>
    <li class="products__card products__card-milkshakes ">
      <h3 class="products__name">milkshakes</h3>
      <div class="products__item">
        <div class="products__box">
          <p class="products__text-primary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
          <input type="checkbox" id="read-more-milkshakes" hidden="">
          <p class="products__text-secondary">Classic milkshake - a fragrant cold drink based on milk, cocaine and ice cream with
            a delicate creamy taste and airy texture</p>
        </div>
        <label class="products__btn" for="read-more-milkshakes">
          <svg class="products__icons">
            <use></use>
          </svg>
        </label>
      </div>
    </li>
  </ul>
</div>