.advantages {
  background-color: #fff5f6;
  padding-bottom: 96px;
  @media screen and (min-width: 768px) {
    padding-bottom: 140px;
  }
}
.advantages-container {
  @media screen and (min-width: 768px) {
    padding-left: 36px;
    padding-right: 76px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 116px;
    padding-right: 116px;
  }
}
.advantages-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-list__item::before {
  content: '';
  display: inline-block;
  height: 50px;
  width: 33px;
  background-size: contain;
  background-image: url('..//images/icons/icon-milk.png');
  margin-bottom: 16px;
  animation: animate_motion 5s 0.1s both infinite;
  @keyframes animate_motion {
    0%,
    20% {
      transform: translate3d(0, 0, 0);
    }
    10%,
    14%,
    18%,
    2%,
    6% {
      transform: translate3d(-7px, 0, 0);
    }
    12%,
    16%,
    4%,
    8% {
      transform: translate3d(7px, 0, 0);
    }
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}
.advantages-list__item:nth-child(2)::before {
  width: 50px;
  background-image: url('..//images/icons/icon-apples.png');
}
.advantages-list__item:nth-child(3)::before {
  width: 44px;
  background-image: url('..//images/icons/icon-heart.png');
}
.advantages-list {
  display: block;
  display: flex;
  flex-wrap: wrap;

  margin: -20px;
  @media screen and (min-width: 768px) {
    margin: -30px;
  }
  @media screen and (min-width: 1280px) {
    margin: -15px;
  }
  &__item {
    width: calc(100% - 2 * 20px);
    margin: 20px;

    @media screen and (min-width: 768px) {
      width: calc((100% - 6 * 30px) / 3);
      margin: 30px;
    }
    @media screen and (min-width: 1280px) {
      width: calc((100% - 6 * 15px) / 3);
      margin: 15px;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;
    width: 230px;

    color: #000000;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.74;
      width: auto;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.76;
    }
  }
  &__number {
    display: block;
    font-family: Titan One;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    margin-bottom: 10px;

    color: #d41443;

    @media screen and (min-width: 768px) {
      font-size: 48px;
      margin-bottom: 12px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 58px;
      text-transform: uppercase;
      margin-bottom: 16px;
    }
  }
}
