.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contacts {
  background: linear-gradient(to top, rgba(255, 245, 246, 1) 95%, #ffffff 5%);
  padding-bottom: 113px;

  @media screen and (min-width: 768px) {
    background: linear-gradient(to top, rgba(255, 245, 246, 1) 90%, #ffffff 10%);
    padding-bottom: 165px;
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../../src/images/desktop/location-bg.png'),
      linear-gradient(to top, rgba(255, 245, 246, 1) 90%, #ffffff 10%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 25%;
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../../src/images/desktop/location-bg@2x.png'),
        linear-gradient(to top, rgba(255, 245, 246, 1) 90%, #ffffff 10%);
    }
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    margin-right: -20px;
  }
}

.contacts__item {
  background-color: #ffffff;
  width: 220px;
  height: 427px;
  border-radius: 24px;
  padding-top: 43px;
  padding-bottom: 43px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  transition: box-shadow 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  @media screen and (min-width: 768px) {
    width: 220px;
    height: 544px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 31px;
    padding-right: 32px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1280px) {
    width: 330px;
    height: 572px;
    padding-top: 51px;
    padding-bottom: 62px;
    padding-left: 43px;
    padding-right: 44px;
    margin-bottom: 0px;
  }
}

.contacts__item:not(last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 20px;
  }
}

.contacts__item-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 25px;
  background-color: rgba(240, 209, 165, 1);
  width: 80px;
  height: 16px;
  text-align: center;
  border-radius: 4px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.9;
    margin-bottom: 30px;
    width: 73px;
    height: 28px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
  }
}

.contacts__item-title-foodtruck {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 25px;
  background-color: rgba(194, 226, 151, 1);
  width: 130px;
  height: 16px;
  align-items: center;
  border-radius: 4px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.9;
    margin-bottom: 30px;
    width: 138px;
    height: 28px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
  }
}

.contacts__item-location {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.86;
  }
}

.contacts__item-content {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  @media screen and (min-width: 768px) {
    padding-bottom: 30px;
    font-weight: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 32px;
    font-size: 16px;
    line-height: 1.8;
  }
}

.contacts__item-list {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__item-days {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.8;
  color: #000000;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.86;
  }
}

.contacts__item-hours {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  color: #ffa5ba;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.86;
  }
}

.contacts__item-working-hours {
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}

.contacts__item-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  @media screen and (min-width: 768px) {
    font-weight: 14px;
    line-height: 1.83;
  }
  @media screen and (min-width: 1280px) {
    font-weight: 16px;
    line-height: 1.83;
  }
}

.contacts__item-links {
  padding-top: 25px;
  @media screen and (min-width: 768px) {
    padding-top: 30px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 32px;
  }
}

.contacts__btn-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 54px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 82px;
  }
}

.contacts__btn-item-location {
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    margin-right: 15px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 0px;
    margin-right: 15px;
  }
}

.contacts__btn-location {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  width: 162px;
  height: 44px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #d41342;

  border-radius: 4px;
  border: 0px;
  border-radius: 22px;
  transition: color 250ms linear;
  transition: background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    background: #c7133e;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  @media screen and (min-width: 768px) {
    width: 190px;
    height: 44px;
  }
  @media screen and (min-width: 1280px) {
    width: 198px;
    height: 44px;
  }
}

.contacts__btn-franchise {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  width: 162px;
  height: 44px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #d41443;
  background: #ffffff;
  border-radius: 4px;
  border: 0px;
  border-radius: 22px;
  transition: color 250ms linear;
  transition: background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    background: #ecebeb;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  @media screen and (min-width: 768px) {
    width: 175px;
    height: 44px;
  }
  @media screen and (min-width: 1280px) {
    width: 180px;
    height: 44px;
  }
}

.contacts__btn-location {
  fill: #ffffff;
}

.contacts__btn-franchise {
  fill: #d41342;
}

.contacts__icon-location {
  @media screen and (min-width: 768px) {
    margin-left: 13px;
  }
}

.contacts__icon-franchise {
  margin-left: 13px;
}
