.customer-reviews {
  padding-bottom: 86px;

  @media screen and (min-width: 768px) {
    padding-bottom: 120px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 132px;
  }
}

.swiper {
  position: relative;

  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-notification {
  width: 40px;
  height: 40px;
}

.swiper-pagination {
  position: static;
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    margin-top: 35px;
  }
}

.swiper-pagination-bullet-active {
  background-image: url(../images/icons/icon-home.svg);
  background-color: transparent;
  background-position: center;
  background-size: cover;
  border-radius: unset;
  width: 12.4px;
  height: 12px;
}

.customer__photo {
  width: 85px;
  height: 85px;
  margin-bottom: 28px;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
  }
}

.review__wrapper {
  position: relative;

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 43px;
  padding-bottom: 20px;

  background-color: #fafafa;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 48px;
    padding-bottom: 28px;

    width: 620px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 48px;
    padding-bottom: 32px;

    width: 926px;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    display: block;
    width: 54px;
    height: 40px;
    background-image: url(../images/icons/apostrophe.svg);
    background-size: 54px, 40px;
    left: 60px;
    top: 28px;

    @media screen and (min-width: 768px) {
      left: 40px;
      top: 30px;
    }
    @media screen and (min-width: 1280px) {
      left: 50px;
      top: 32px;
    }
  }
}
.customer__text {
  position: relative;
  z-index: 4;

  width: 90%;
  margin-left: auto;
  margin-right: auto;

  background: repeating-linear-gradient(#e1e1e1, transparent 1px, transparent 31px);
  background-position: 0 23px;
  background-size: cover;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    width: 460px;
    font-size: 14px;
    line-height: 2.16;
    background-position: 0 25px;
  }
  @media screen and (min-width: 1280px) {
    width: 750px;
    font-size: 16px;
    line-height: 1.86;
  }
}
.customer__name {
  margin-left: auto;
  margin-right: auto;
  margin-top: 52px;
  position: relative;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-top: 42px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 34px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 32px;
    height: 4px;
    background-image: url(../images/icons/dots.svg);
    background-size: 32px, 4px;
    left: 50%;
    bottom: 45px;
    transform: translateX(-50%);

    @media screen and (min-width: 768px) {
      bottom: 36px;
    }
  }
}
