.container__gallery {
  display: flex;
}
.gallery {
  background: linear-gradient(to top, white 60%, #fff5f6 40%);
  padding-bottom: 80px;

  @media screen and (min-width: 768px) {
    padding-bottom: 121px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 123px;
  }
}
.grid {
  margin: 0 auto;

  display: grid;

  grid-template-columns: repeat(7, 39.4px);
  grid-template-rows: repeat(9, 11.77px);
  column-gap: 2px;
  row-gap: 2px;
  list-style: none;

  @media screen and (min-width: 480px) {
    grid-template-columns: repeat(7, 60.28px);
    grid-template-rows: repeat(9, 18.16px);
    column-gap: 3px;
    row-gap: 3px;
  }
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(7, 85.14px);
    grid-template-rows: repeat(9, 25.77px);
    column-gap: 4px;
    row-gap: 4px;
    padding-left: 40px;
    padding-right: 40px;
  }
  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(7, 139.14px);
    grid-template-rows: repeat(9, 42.44px);
    column-gap: 6px;
    row-gap: 6px;
    padding-left: 23px;
    padding-right: 23px;
  }
}
.grid__item:nth-child(1) {
  grid-row: 4;
}
.grid__item:nth-child(2) {
  grid-column: 2;
  grid-row: 3;
}
.grid__item:nth-child(3) {
  grid-column: 2;
  grid-row: 6;
}
.grid__item:nth-child(4) {
  grid-column: 3;
}
.grid__item:nth-child(5) {
  grid-column: 3;
  grid-row: 7;
}
.grid__item:nth-child(6) {
  grid-column: 5;
  grid-row: 3;
}
.grid__item:nth-child(7) {
  grid-column: 5;
  grid-row: 6;
}
.grid__item:nth-child(8) {
  grid-column: 6;
  grid-row: 2;
}
.grid__item:nth-child(9) {
  grid-column: 6;
  grid-row: 5;
}
.grid__item:nth-child(10) {
  grid-column: 7;
  grid-row: 3;
}

.grid__item {
  width: 100%;
  height: 100%;
  /*transform: scale(1);*/
}

.grid__icon {
  width: 39.4px;
  height: 39.4px;
  border-radius: 14%;
  transition-property: transform;
  object-fit: cover;

  @media screen and (min-width: 480px) {
    width: 60.28px;
    height: 60.28px;
  }

  @media screen and (min-width: 768px) {
    width: 85.14px;
    height: 85.14px;
  }

  @media screen and (min-width: 1280px) {
    width: 139.14px;
    height: 139.14px;
  }
  &:hover,
  &:focus {
    z-index: 2;
    transform: scale(1.2);
    transition-duration: 250ms;
  }
}
.grid__icon-4 {
  width: 80.8px;
  height: 80.8px;
  border-radius: 7%;
  @media screen and (min-width: 480px) {
    width: 123.56px;
    height: 123.56px;
  }
  @media screen and (min-width: 768px) {
    width: 174.28px;
    height: 174.28px;
  }
  @media screen and (min-width: 1280px) {
    width: 284.28px;
    height: 284.28px;
  }
}
