.products {
  padding-top: 121px;
  padding-bottom: 98px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

// 100% natural
.products__text {
  font-family: 'Titan One', sans-serif;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-title);
  margin-bottom: 15px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

// Pproducts
.products__title {
  font-family: 'Titan One', sans-serif;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--title-text);

  margin-bottom: 144px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 150px;
    font-size: 48px;
    line-height: 1.14;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 259px;
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
  }
}

// Список UL
.products__list {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

// Карточки Li
.products__card {
  position: relative;
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 0;
  padding-top: 161px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-bottom: 41px;
    width: 280px;
    height: 100%;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-bottom: 40px;
    width: 220px;
    height: 100%;
    width: calc((100% - 20px) / 3);
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 50px;
    width: 329px;
    height: 100%;
    width: calc((100% - 30px) / 3);
  }
}
.products__card:not(:last-child) {
  margin-bottom: 130px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 0;
    margin-right: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.products__card {
  background: #f0d1a5;
}
.products__card:first-child {
  background: #ffb8ca;
}
.products__card:last-child {
  background: #c2e297;
}

.products__card-icecream::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/mobile/products-1-320.png');
  background-repeat: no-repeat;
  top: -22%;
  left: 6%;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/mobile/products-1-320@2x.png');
    background-size: 249px 252px;
  }

  @media screen and (min-width: 768px) {
    content: '';
    background-image: url('../images/tablet/products-1-768.png');
    top: -18%;
    left: 0%;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/tablet/products-1-768@2x.png');
      background-size: 220px 224px;
    }
    @media screen and (min-width: 1280px) {
      content: '';
      background-image: url('../images/desktop/products-1-1200.png');
      top: -35%;
      left: 0%;
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/desktop/products-1-1200@2x.png');
        background-size: 335px 335px;
      }
    }
  }
}

.products__card-coffee::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/mobile/products-2-320.png');
  background-repeat: no-repeat;
  top: -23%;
  left: 5%;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/mobile/products-2-320@2x.png');
    background-size: 249px 252px;
  }

  @media screen and (min-width: 768px) {
    content: '';
    background-image: url('../images/tablet/products-2-768.png');
    top: -20%;
    left: 0%;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/tablet/products-2-768@2x.png');
      background-size: 220px 224px;
    }
  }

  @media screen and (min-width: 1280px) {
    content: '';
    background-image: url('../images/desktop/products-2-1200.png');
    top: -35%;
    left: 0%;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/desktop/products-2-1200@2x.png');
      background-size: 335px 335px;
    }
  }
}
.products__card-milkshakes::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/mobile/products-3-320.png');
  background-repeat: no-repeat;
  top: -22%;
  left: 6%;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/mobile/products-3-320@2x.png');
    background-size: 249px 252px;
  }

  @media screen and (min-width: 768px) {
    content: '';
    background-image: url('../images/tablet/products-3-768.png');
    top: -18%;
    left: 0%;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/tablet/products-3-768@2x.png');
      background-size: 220px 224px;
    }
  }

  @media screen and (min-width: 1280px) {
    content: '';
    background-image: url('../images/desktop/products-3-1200.png');
    top: -35%;
    left: 0%;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/desktop/products-3-1200@2x.png');
      background-size: 335px 335px;
    }
  }
}

// Ice Cream
.products__name {
  font-family: 'Titan One', sans-serif;
  font-style: normal;
  font-weight: normal;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-text);
  padding-left: 53px;
  padding-right: 53px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-left: 10px;
    padding-right: 11px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    padding-left: 60px;
    padding-right: 60px;
  }
}

// Точки
.products__name::after {
  content: '...';
  display: block;
  padding-top: 30px;
  letter-spacing: 4px;
  margin: 0;
  @media screen and (min-width: 1280px) {
    padding-top: 32px;
  }
}
// Content Text
.products__text-secondary,
.products__text-primary {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-text);

  padding-left: 41px;
  padding-right: 39px;
  margin-top: 30px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    line-height: 176%;
    padding-left: 11px;
    padding-right: 11px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 176%;
    padding-left: 44px;
    padding-right: 44px;
    margin-top: 32px;
  }
}
.products__text-secondary {
  display: none;
}

// Кнопка
.products__box {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 62px;
  }
}
.products__btn {
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--white-text);
  background-image: url(../images/icons/arrow-right-products.png);
  border: none;
  transform: rotate(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:hover {
    transform: rotate(-90deg);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.products__icons {
  width: 11px;
  height: 11px;
  fill: var(--title-text);
  margin: 15px;
}

#read-more-icecream:checked ~ .read-more-icecream {
  display: none;
}
#read-more-icecream:checked ~ .products__text-secondary {
  display: block;
  margin-top: 15px;
}

#read-more-coffee:checked ~ .read-more-icecream {
  display: none;
}
#read-more-coffee:checked ~ .products__text-secondary {
  display: block;
  margin-top: 15px;
}

#read-more-milkshakes:checked ~ .read-more-icecream {
  display: none;
}
#read-more-milkshakes:checked ~ .products__text-secondary {
  display: block;
  margin-top: 15px;
}
